@import '../../style/reset.css';

body {
    &.dark {
        background: #ddd;
    }
    &.light {
        background: #fff;
    }
}

#root {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content {
    flex: 1;
    position: relative;
    display: flex;
}
