.user-info {
    margin-right: 20px;
    .login-btn {
        cursor: pointer;
    }
}

.user-info-popup {
    background: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    .user-info-item {
        display: flex;
        align-items: center;
        .title {
            width: 60px;
        }
    }
}
