.code-search-layer {
    background: #fff;
    .search-item {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
    }
    .search-history {
        border-bottom: 1px solid #000;
        h3 {
            font-size: 12px;
        }
    }
}

