@import '../../../style/reset.css';

body {
    &.dark {
        background: #ddd;
    }
    &.light {
        background: #fff;
    }
}

#root {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-content {
    flex: 1;
    position: relative;
    display: flex;
}

.app-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
